body {
  min-height: 2000px;
  background-image: url("../img/bg.png");
    background-repeat: repeat;
    background-color: white;
}

.navbar-static-top {
  margin-bottom: 19px;
}

.logo, .cofepris{
	max-height: 50px;
}

/* centrar menu */
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    width: 700px;

}

.navbar-left{
	background-color: #B05093;
	padding: 0 15px;
}

*, *:before, *:after{ 
    box-sizing: border-box; 
} 
.css-shapes-preview{ 
    position: relative;
    z-index: 0;
    left: 168px; 
    height: 50px; 
    width: 35px; 
    background-color: #B05093; 
    transform: skew(20deg); 
    -webkit-transform: skew(20deg); 
}